* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;

}

body {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7rem;
}

.btn:hover {
  background-color: var(--light-slate);
  color: var(--color-bg);
  border-color: transparent;
}

.btnPrimary {
  background: var(--color-primary);
  color: var(--color-bg);
}