@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
   
}

body{
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7rem;
}

.btn:hover{
  background-color: var(--light-slate);
  color: var(--color-bg);
  border-color: transparent;
}
.btnPrimary{
  background: var(--color-primary);
  color: var(--color-bg);
}