@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
:root{
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --slate: #8892b0;
  --light-slate: #ccd6f6;
  --light-navy: #233554;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(77, 181, 255, 0.4);
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);  
  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --transition: all 400ms ease;
  --easing: cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

*{
  margin: 0;
  padding: 0;
  border: 1px solid red;
  box-sizing: border-box;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7rem;
}
section{
  min-height: 100vh;
  max-width: 90%;
  margin: auto;
  padding: 10px;
  border: 1px solid;
}

::selection {
  background-color: var(--light-navy);
  color: var(--light-slate);
}

html{
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--color-bg);
}
::-webkit-scrollbar-thumb {
  background-color: var(--slate);
  border: 1px solid var(--slate);
  border-radius: 10px;
}

h1{
  font-size: 3rem;
  color: var(--light-slate);
  font-weight: 700;
}

h6{
  color: var(--slate);
}

h5{
  color: var(--color-primary);
}

h2,h3,h4,h5{
  font-weight: 500;
  
}
header{
  height: 100vh;
  padding-top: 5rem;
  overflow: hidden;
}


/* Transition Styles */
.fadeup-enter {
  opacity: 0.01;
  transform: translateY(20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadeup-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade down */
.fadedown-enter {
  opacity: 0.01;
  transform: translateY(-20px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

.fadedown-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms var(--easing), transform 300ms var(--easing);
}

/* Fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 3000ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}




